body {
    background-color:floralwhite;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


#header h1 {
    font-size: large;
    background-color: #324422;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
}

/*sitebranding animation*/
#sitebranding{
    -webkit-animation-name: tinRightIn;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes tinRightIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1, 1) translateX(900%);
    }

    50%, 70%, 90% {
        opacity: 1;
        -webkit-transform: scale(1.1, 1.1) translateX(0);
    }

    60%, 80%, 100% {
        opacity: 1;
        -webkit-transform: scale(1, 1) translateX(0);
    }
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: #6e2207;
    border-top: 3px solid #242826;
    border-bottom: 3px solid #242826;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

/* tagline animation*/

#tagline p{
    -webkit-animation-name: puffIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes puffIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2,2);
        -webkit-filter: blur(2px);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1,1);
        -webkit-filter: blur(0px);
    }
}

/* hidden elements */
.hidden {
    display: none;
}