#headerText{
    position: fixed;
    left: 580px;
    color: black;
    top: -20px;
}

#bodyimage{
    background: url("/images/woodbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;

}



#current-list-details{
    position: fixed;
    left:680px;
    bottom:100px;
    font-family: 'Dancing Script', Georgia, Times, serif;
    background-color: #ffffff;
    border: 1px solid black;
    opacity:0.6;
    width: 480px;
    height: 440px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    background: transparent;
}


#lists-container{
    position: fixed;
    left:100px;
    bottom: 100px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity:0.6;
    width: 480px;
    height: 440px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}


#current-list-title{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#task-added-message{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#task-done-message{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#empty-list-message{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#to-do-list{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}


#new-task{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#newtask{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}


#toDoList{
    font-family: 'Dancing Script', Georgia, Times, serif;
    position: relative;
    left:170px;
}

#no-lists-message{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#list-added-message{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#create-list{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}

#active-lists{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}


#sitebranding {
    background-color: #17732a;

}
#lists-container {
    background-color: #e1d821;
    -webkit-animation-name: vanishIn;
    -webkit-animation-duration: 1.1s;


}
@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

#current-list-details{
    background-color: #e1d821;
    -webkit-animation-name: vanishIn;
    -webkit-animation-duration: 2s;


}
@-webkit-keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(90px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

#currentTasks{
    position: relative;
    left: 170px;

}

#logincolor{

    color: #d8d4ea;
}

.hidden {
    display: none;
}

#user-details {
    color: white;
}

li {
    list-style: none;
}

#viewlist{
    display: none;
}

#checklist{
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}